@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*, 
*::after, 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fix fontawesome */
.fas:before {
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
}

/*btn style*/
.btn-primary{
    color: #ffffff;
    padding: 10px;
    width: 75px;
    cursor: pointer;
    font-size: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #1095d3;
    background-color: #0facf3;
    transition: background-color .3s ease; 
}

/*text input style*/
input[type=text]{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 100%;
    color: gray;
    outline: none;
}


body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #444;
}

h1, h2{
    font-weight: normal;
}


#contianer{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    overflow: hidden;
}
/*  */
/* header start */
/*  */
#header{
    background: #eee ;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dashed lightgray;
}


#header h1{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 250%;
}

/*  */
/* main content start */
/*  */
#main{
    padding: 20px;
}

#main h2{
    font-weight: 700;
    font-size: 200%;
    margin-bottom: 20px;
}

#main ul{
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    
}

#main ul li{
    margin-bottom: 20px;
    padding: 10px 5px;
    border-left: 5px solid #ddd;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transition: all .5s ease;
    overflow: hidden;
}

#main ul li .name{
    min-width: 70%;
    color: rgb(143, 143, 143);
}



#main ul li input[type=text]{
    width: 100%;
    padding: 9px 8px;
    color: #444;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: context-menu;
    border: none;
}


#main ul li input[type=text].input-border{
    border: 1px solid #ccc !important;
}


#main ul li .name .saveInfo{
    font-size: 70%;
    margin-top: 5px;
    display: none;
}


#main ul li .name button{
    border: 1px solid #28a745;
    background-color: #28a745;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
}

#main .action button{
  background-color: #ffffff;
  border: 1px solid #ccc;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 85%;
  border-radius: 100%;
  outline: none;
}

#main .action button.mark:hover{
    border: 1px solid #fd7e14;
    color: #fd7e14;
}

#main .action button.edit:hover{
    border: 1px solid #28a745;
    color: #28a745;
}

#main .action button.up:hover,
#main .action button.down:hover
{
    border: 1px solid #0facf3;
    color: #0facf3;
}

#main .action button.delete:hover
{
    border: 1px solid #dc3545;
    color: #dc3545;
}

/* list actions helper */
#main .hide{
    margin-bottom: 0;
    padding: 0 20px 0 20px;
    opacity: 0 ;
    height: 0;
}


#main .complete{
    text-decoration: line-through !important;
}

/*  */
/* Add Form Value */
/*  */
#valueForm{
    padding: 20px;
    display: flex;
    justify-content: center;
}


 
#valueForm input{
    float: left;
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#valueForm button{
    font-weight: 700;
    width: auto;
}

#valueForm button:hover{
    background-color: #45bcf3;
}

.test{
  display: none !important;
}

/* animations */
.move-pulsate{
    animation: pulsate .5s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes pulsate{
    0% { 
        opacity: 0.4;
   
    }

    50% {
        opacity: .7;
   
    }

    100% { 
        opacity: 0.4;
       
    }
}